<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles */
    </style>
  </head>
  <body>
    <h1>Welcome<% if @user_name.present? %>, <%= @user_name %><% end %>!</h1>
    <p>Thank you for joining us. We're excited to have you on board!</p>
    <p>If you have any questions, feel free to reach out to our support team.</p>
    <p>Best regards,<br>The Team</p>
  </body>
</html>